<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Homepage</title>
</head>

<body class="oneColLiqCtrHdr">

<div id="container">
  <div id="header">
     <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='header1.png') }}" width="271" height="55" ></a>
    <!-- end #header --></div>
  <div id="mainContent">
    <p>&nbsp;</p>
<p>{{ n }} has been added!</p>
    <p>
      <!-- end #mainContent -->
    </p>
  </div>
  <div id="footer">
    <p><img src="{{ url_for('static', filename='logo.png') }}" width="271" height="68" /></p>
  <!-- end #footer --></div>
<!-- end #container --></div>
</body>
</html>
